/* Everforest — rofi color variables. */

* {
    bg:          #2B3339;
    fg:          #D5C9AB;
    accent:      #DBBC7F;
    accent-2:    #7FBBB3;
    border:      #DBBC7F;
    urgent:      #ED8082;
    selected-fg: #D5C9AB;
    entry-fg:    #D196B3;
    prompt-fg:   #7FBBB3;
    header:      #7FBBB3;

    background-color: @bg;
}
