[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Cortile
Comment=Tiling Manager
Exec=/usr/bin/cortile
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

